*.psd filter=lfs diff=lfs merge=lfs -text
C:UsersownerDocumentsGitHub2021WinterGameMake박진우_개인작업본Assets filter=lfs diff=lfs merge=lfs -text
C:/Users/owner/Documents/GitHub/2021WinterGameMake/박진우_개인작업본/Assets.so filter=lfs diff=lfs merge=lfs -text
